run = "node scripts/start-prod.mjs"
modules = ["nodejs-20"]

[deployment]
deploymentTarget = "autoscale"
build = ["node", "scripts/build-prod.mjs"]
run = ["node", "scripts/start-prod.mjs"]

[env]
NODE_ENV = "production"
HOST = "0.0.0.0"
